<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Reto Sofka</title>
</head>
<body>
    <header>
        <a href="#" class="nav-link active text-dark fw-bold">Inicio</a>
        <a href="/resultados" class="nav-link text-dark">resultados</a>
    </header>
    <h1 class="text-center">Reto Sofka</h1>
    <form action="/" method="POST" class="container noMostrar p-3 d-flex flex-column justify-content-center align-items-center">
        <input type="text" placeholder="Escribe tu nombre aqui para iniciar el juego" class="form-control" name="nombreJugador">
        <button type="submit" class="btn btn-success mt-3">Continuar</button>
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>