<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Resultados</title>
</head>
<body>
    <header>
        <a href="/" class="nav-link active text-dark">Inicio</a>
        <a href="#" class="nav-link text-dark fw-bold">resultados</a>
    </header>
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-center fw-bold text-primary">Ultimos resultados</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ronda</th>
                <th scope="col">Premio</th>
              </tr>
            </thead>
            <tbody>
                <% resultados.forEach((r)=>{%>
                    <tr>
                        <th scope="row"><%= r.nombre%></th>
                        <td><%= r.ronda%></td>
                        <td><%= r.premio%></td>
                    </tr>
                <%}); %>

              
              
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
              <a href="/" class="btn btn-success">Volver al Inicio</a>
          </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>